Port 22
HostKey /etc/ssh/ssh_host_rsa_key
PubkeyAuthentication no
AuthorizedKeysFile	.ssh/authorized_keys
Subsystem sftp /usr/lib/openssh/sftp-server
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
PermitRootLogin no
PasswordAuthentication yes
ChallengeResponseAuthentication no